
.map{
    background-color: green;
    height:650px;
}

h1{
    /*color:#002f7c;*/
    font-weight: 700;
    margin-left:25px;
}

h1:hover{

}

body{
    background-color: #f6f6f6;
}


header{
    position: fixed;
    top: 0px;
    z-index: 999999;
    background-color: #1D5277;
    color:#fff;

}

.btn-profile{
    float: right;
    padding: 10px 25px;
    margin-right:25px;
    border-radius: 25px;
    font-size:1em;
    /*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/;
    background-color: #38C6F5;
    margin-top:22px;
    color: #fff;
    transition: all 0.3s ease;
}

.btn-logdive{
    float: right;
    padding: 10px 25px;
    margin-right:25px;
    border-radius: 25px;
    font-size:1em;
    /*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/;
    background-color: #60B818;
    margin-top:22px;
    color: #fff;
    transition: all 0.3s ease;
}

.btn-profile:hover{
    background-color: #80DFFF;
    cursor:pointer;
}

.btn-logdive:hover{
    background-color: #72D91E;
    cursor:pointer;
}

.btn-home{
    float:left;
    cursor: pointer;
    font-size:2em;
    transition: all 0.3s ease;
}

.btn-home:hover{
    color: #38C6F5;
}

.homepage-container{
    margin:0 auto;
    margin-top:-90px;
    z-index: 99999;
}

.content-box{
    background-color: #fff;
    padding:25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(235,235,235,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(235,235,235,1);
    box-shadow: 0px 0px 10px 2px rgba(235,235,235,1);
    margin-bottom: 25px;
    box-sizing: border-box;
}

.stat-container{
    background-image: url('../../images/stats-bg-img.jpg');
    background-size: cover;
}

.statistics-divider{
    display:flex;
    justify-content: space-between;
    padding: 75px;
}

.stat-box{
    display: inline-block;
    padding: 10px 50px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.stat{
    font-size: 1.7em;
}

.stat-number{
    font-size: 2.5em;
}

.stat-content{
    float:left;
}

.stat-icon{
    height:35px;
    float:left;
    /*margin-right:25px;*/
    margin-top:-20px;
}

.stat-description{
    display:block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
}

.divelog-row{
    border-bottom: 1px solid #C9C9C9;
    padding:15px 0px;

}

.divelog-username{
    padding:0;
    margin:0;
}

.divelog-location{
    padding:0;
    margin:0;
    font-size:1em;
}

.divelog-description{
    color: #7A7A7A;
}

.divelog-tags{
    margin-top:5px;
}

.divelog-tag{
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
    margin-right:5px;
    font-weight: 700;
    font-size:0.9em;
}

.rating-color{
    background-color: #D6CB2D;
}
.fauna-color{
    background-color: #60B818;
}
.visibility-color{
    background-color: #38C6F5;
}